.ChatWindow {
    height: 25vh;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.ChoicesArea {
    display: block;
    text-align: center;
}

.ChoicesArea button {
    width: unset;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.ChoicesArea-GPTRecommendation {
    margin-top: 1em;
    margin-bottom: 0;
    color: gray;
    font-size: 90%;
    white-space: pre-wrap;
}

.AnswerArea-Answer {
    margin-bottom: 0;
}

.GPTLoadingIcon {
    margin: auto;
    border: 0.5em solid #fff;
    border-top: 0.5em solid #48f;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}