.Navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.Navbar .col {
    text-align: center;
}

.Navbar a {
    font-size: 110%;
    color: gray;
    text-decoration: none;
}

.Navbar a.brand,.Navbar a.active {
    color: black;
}