@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: "Comfortaa";
    margin-left: 1rem;
    margin-right: 1rem;
    width: 600px;
    height: calc(600px - 2rem);
}

button.full-size {
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    resize: none;
}